@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
 }

 /* ======= Your styling goes below ======= */

.container { font-family: sans-serif; }

.wrapper {
  max-width: 1102px;
  width: 85.69%;
  margin: 0 auto;
}

ul { list-style-type: none; }
a { text-decoration: none; }

header  .wrapper {  
  padding: 14px 0 15px;
}

header {
  width: 100%; 
  position: fixed;
  background-color: rgba(0, 153, 255 , 1);
  z-index: 1;
}

h1 {
  width: 21.6%;
  padding-top: 21px;
  padding-left: 5%;
  display: inline-block;
}

h1 a {
  display: inline-block;
  text-indent: -9999px;
}

h1 a img { 
  width: 100%;
  float: left; 
}

nav { 
  width: 57%;
  display: inline-block;
  margin-right: 5%;
  float: right; 
  z-index: 1;

}

.ham {  
  width: 15px;
  display: none; 
}

.ham span { 
  height: 2px;
  margin-top: 5px;
  display: block;
  background-color: #fff;
  text-indent: -9999px; 
}


form { 
  width: 100%; 
  position: relative;
}

form input { 
  padding: 2px 5px;
  font-size: 9px; 
  font-weight:700 ;
}

form span {
  text-indent: 0;
  position: absolute;
  top: 2px;
  right: 10px;
}

nav ul { 
  display: flex; 
  justify-content: space-between;
}


nav ul li a {
  color: #fff;  
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
}

nav ul li a:hover { 
  background-color: #fff;
  color: #000;
  transition: .6s;

 }


.uppernav .job-ham {
  width: 12%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.job-ham span {
  display: block;
  width: 15px;
  height: 3px;
  margin-top: 2px;
  border-radius: 5px;
  background-color: #fff;
  text-indent: -9999px;
}


.uppernav { margin-top: 5px; }
.lowernav { margin-top: 31px; }


.lowernav ul li a{
  font-size: 12px;
  text-transform: capitalize;  
}

.banner { position: relative; }

.banner img { width: 100%; }

.overlay {
  width: 100%;
  text-indent: -9999px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 153, 255 , 0.8);
}

.overlay:after {
  content: "";
  float: left;
  
}

.join{
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 49.9%;
  left: 15%;

}

.join h2 {
  color: #fff;
  font-size: 30px;
  font-weight:900 ;
  text-align: center;
  text-transform: uppercase;
}

.join p {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.culture .wrapper { 
  position: relative;
  padding: 43px 0 47px; 
}

.culture figure { 
  width: 56.7%; 
  display: inline-block;
  vertical-align: top;
}

.culture figure img { width: 100%; }

.culture .play { 
  width: 14%;
  position: absolute; 
  top: 30%;
  left: 22%;
}

.cleveland-culture { 
  width: 36%;
  margin-left: 4.5%;
  margin-right: 0;
  display: inline-block;
}

.cleveland-culture h3 {
  padding-top: 28%;
  color: #007e47;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}

.cleveland-culture p { 
  margin-top: 17px; 
  font-size: 15px;
  line-height: 18px;
}

.our-culture { 
  padding: 41px 0 57px;
  background-color: #f0efed; }

.our-culture figure { 
  width: 56.7%; 
  display: inline-block;
  vertical-align: top;
  float: right;

}

.our-culture figure img { width: 100%; }

.learn {
  width: 36%;
  margin-right: 0;
  display: inline-block;

}
  
.learn h3 { 
  padding-top: 9.5%;
  color:rgba(0, 153, 255 , 1) ;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;

 } 

 .learn p {
    margin: 7px 0 35px;
    font-size: 14px;
    line-height: 18px;
 }

 .learn a {
  padding:3px 10%;
  border: 2px solid rgba(0, 153, 255 , 1);
  color: rgba(0, 153, 255 , 1);
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
 }

 .learn a:hover {  
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    transition: 0.6s;
 }

.offers .wrapper {
  padding: 56px 0 50px;
  display: flex;
  justify-content: space-between;
}
.offers .wrapper div { width: 49.1% }

.caregiver { width: 45%; }
.caregiver ul { 
  display: flex;
  flex-direction: column;
  }

.caregiver h3,
.career-development h3{
  padding: 35px 0 8px;
  color: #007e47;
  font-size: 33px;
  font-weight: 900;
  text-transform: uppercase;
  }

.caregiver ul li figure{ width: 100%;  }
.caregiver li  figure img { width: 100%; }

.career-development li figure { width: 100%; }
.career-development li figure img { width: 100%; }

.caregiver p,
.career-development p{
  padding-bottom: 35px;
  font-size: 13px;
  line-height: 17px;
}

.caregiver a,
.career-development a {
  padding: 5px 6%;
  border: 2px solid #007e47;
  color: #007e47;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
}

.caregiver a:hover,
.career-development a:hover {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  transition: 0.6s;
}

footer { background-color: #f0efed; }
footer ul { 
  display: flex; 
  justify-content: center;
  
}

.details li { margin-right: 3%; }

footer .wrapper { padding-top: 32px; }

.details li a {
  color: #000;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.details li a:hover {
  color: #3480b3;
  transition: 0.6s;
}

.social { margin-top: 16px; }
.social li { margin-right: 2%; }

.social li a { 
  display: inline-block;
  text-indent: -9999px; 
}

.social li:nth-child(1) a:before {
  content: "\f0e1";
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
}

.social li:nth-child(2) a:before {
  content: "\f39e";
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
}

.social li:nth-child(3) a:before {
  content: "\f099";
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
}

.social li:nth-child(4) a:before {
  content: "\f167";
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
}

.social li:nth-child(5) a:before {
  content: "\f0d2";
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
}

.social li:nth-child(6) a:before {
  content: "\f0d5";
  float: left;
  color: #000;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
}

.social li:hover a {  color: blue; }

footer p {
  margin: 15px 0 13px;
  font-size: 10px;
  text-align: center;
}

footer p a:first-child { color: #000; } 

footer p a:last-child {
  color:#3480b3;
  font-weight: 900;
  text-decoration: underline;
}

.eeo li a{
  padding:0 10px; 
  color:#3480b3;
  font-size: 11px;
  font-weight: 700;
  text-decoration: underline;
}

.eeo li:nth-child(n+1):nth-child(-n+2):after { content: "\007C"; } 

.lowerfooter {
  margin-top: 13px;
  background-color:rgba(0,0,0,0.5);
  text-align: center;
}

.lowerfooter .wrapper { padding: 10px 0 10px; }

.lowerfooter span {
  color: #fff;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.lowerfooter span a { color: #fff; }
.lowerfooter span a:nth-child(n+1):nth-child(-n+2):after { 
  content: "\007C"; 
  margin: 0 5px;
}

@media screen and (max-width: 1024px) {
  h1 { padding-top:10px ; }

  header .wrapper { position: relative; }
  nav .ham { 
    display: block;  
    cursor: pointer;
  }
  nav { 
    /* position: relative; */
    padding-top: 12px;
    width: auto;
    margin-right: 0; 
  }

  nav:hover .ham .s1 {
    margin-top: 0;
    transform: rotate(135deg);
  }
  nav:hover .ham .s2 { display: none; }
  nav:hover .ham .s3 {
    margin-top: -1px;
    transform: rotate(-135deg);
  }

  nav .uppernav,
  nav .lowernav { display: none; }

  nav:hover .uppernav {  
    display: block;
    position: absolute;
    top: 42px;
    left: 5%;
    right: 50%;
    z-index: 200;
    background-color: rgba(0,0,0,0.6);
  }

  nav:hover .lowernav {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    z-index: 200;
    background-color: rgba(0,0,0,0.6);
  }
   
  .uppernav ul,  
  .lowernav ul { display: block; }

   .uppernav ul li,  
  .lowernav ul li { 
    width: 100%; 
    text-align: center;
  }
  form span { right: 34% }

  .join { top: 32.9%; }

  .join h2 { font-size: 22px; }

  .cleveland-culture h3 { 
    padding-top: 13%; 
    font-size: 20px;
  }

  .cleveland-culture p {
    font-size: 12px;
    line-height: 13px;
  }


.caregiver h3,
.career-development h3{ 
    padding: 25px 0 8px;
    font-size: 25px;
  }

  .learn p {
    margin: 7px 0 25px;
    font-size: 11px;
    line-height: 14px;
  }

.caregiver p, .career-development p {
    padding-bottom: 21px;
    font-size: 11px;
    line-height: 15px;
}

.lowerfooter span{ font-size: 8px; }

}

@media screen and (max-width: 768px) {

  nav ul li a:hover { 
  background-color:transparent;
  color: #fff;

 }

 .learn a:hover {
  border: 2px solid rgba(0, 153, 255 , 1);
  background-color: transparent;
  color: rgba(0, 153, 255 , 1);
}



  .join h2 { font-size: 18px; }
  .join p { font-size: 12px;}


.cleveland-culture h3 {
    padding-top: 11%;
    font-size: 13px;
  }

.cleveland-culture p {
    font-size: 11px;
    line-height: 12px;
    margin-top: 11px;
}

.learn h3 {font-size: 20px;}
  
  .learn p {
    margin: 7px 0 19px;
    font-size: 9px;
    line-height: 11px;
}

.caregiver h3,
.career-development h3 { font-size: 19px; }

.caregiver p, .career-development p {
  padding-bottom: 15px;
    font-size: 9px;
    line-height: 13px;
}

.caregiver a:hover,
.career-development a:hover {
  border: 2px solid #007e47;
  background-color: transparent;
  color: #007e47;
} 

.caregiver a,
.career-development a { font-size: 12px; }

.details li a:hover { color: #000; }

}

@media screen and (max-width: 635px) {

    form span { right: 23%; }
    .join h2 {
      margin-bottom: 5px;
      font-size: 12px;
     }
    .join p { font-size: 10px; }

    .cleveland-culture h3 {
    padding-top: 11%;
    font-size: 11px;
}
.cleveland-culture p {
    font-size: 10px;
    line-height: 10px;
    margin-top: 7px;
}

.learn h3 { font-size: 15px; }

.learn p {
    margin: 7px 0 11px;
    font-size: 7px;
    line-height: 9px;
}

.caregiver h3, .career-development h3 { font-size: 15px; }

.caregiver p, .career-development p {
    padding-bottom: 15px;
    font-size: 9px;
    line-height: 11px;
    line-height: 12px;
}

.caregiver a, .career-development a { font-size: 9px; }

.details li a { font-size: 8px; }
.social li a { font-size: 11px; }
.social { margin-top: 8px; }
.eeo li a { font-size: 9px; }
footer p { 
  margin: 8px 0 5px;
  font-size: 8px;
}
.lowerfooter span { font-size: 7px; }
}

@media screen and (max-width: 483px) {
  nav {padding-top: 4px;}
  .join { top: 47.9%; }
  .join h2 {
    margin-bottom: 2px;
    font-size: 8px;
  }
  .join p {
    font-size: 7px;
  }

  .culture figure {
    width: 100%;
    display: block;
  }

  .culture .play {
    width: 19%;
    top: 27%;
    left: 43%;
}
.our-culture .wrapper figure {
  width: 100%;
  display: block;
  float: none;
}


.learn,
.cleveland-culture 
 {
  width: 100%;
  margin-top: 15px;
  display: block;
  text-align: center;
}


.learn h3,
.cleveland-culture h3 {
  padding-top: 0;
}
.learn a { font-size: 12px; }
.details { 
  width: 100%;
  display:inline-block; 
}
.details li { 
  width: 46.2%; 
  display: inline-block;

}
.eeo {
  display: block;
}

.eeo li { text-align: center }

.lowerfooter span a { color: #fff; }
.eeo li:nth-child(n+1):nth-child(-n+2):after {
  content: none;
}

}

